<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board.mapper.BoardMapper">

	<resultMap id="BoardVO" type="board.service.BoardVO">
	    <result property="userId" column="USER_ID"/>
	    <result property="userName" column="USER_NAME"/>
	</resultMap>

    <!-- 로그인 쿼리 -->
    <select id="login" parameterType="board.service.BoardVO" resultType="BoardVO">
        SELECT
            USER_ID as userId,
            PASSWORD as password,
            USER_NAME as userName
        FROM TBL_USER
        WHERE USER_ID = #{userId}
          AND PASSWORD = #{password}
    </select>

    <!-- 게시판 등록 -->
   <insert id="insertBoard" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="idx">
	  INSERT INTO TBL_BOARD
	      (TITLE, CONTENTS, WRITER)
	  VALUES
	      (#{title}, #{contents}, #{writer})
	</insert>
	

    <!-- 게시판 수정 -->
    <update id="updateBoard">
        UPDATE TBL_BOARD
        SET TITLE = #{title},
            CONTENTS = #{contents, jdbcType=VARCHAR}
        WHERE IDX = #{idx}
    </update>

    <!-- 게시판 삭제 -->
    <delete id="deleteBoard">
        DELETE FROM TBL_BOARD
        WHERE IDX = #{idx}
    </delete>

    <!-- 게시글 상세 -->
    <select id="selectBoard" resultMap="BoardVO">
        SELECT
            A.IDX as idx,
            A.TITLE as title,
            A.CONTENTS as contents,
            A.COUNT as count,
            A.WRITER as writer,
            A.INDATE as indate,
            B.USER_NAME as writerNm
        FROM TBL_BOARD A
        LEFT JOIN TBL_USER B ON A.WRITER = B.USER_ID
        WHERE A.IDX = #{idx}
    </select>

    <!-- 게시글 목록 -->
    <select id="selectBoardList" parameterType="BoardVO" resultType="map">
        SELECT
            A.IDX as idx,
            A.TITLE as title,
            A.CONTENTS as contents,
            IFNULL(A.COUNT, 0) as count,
            A.WRITER as writer,
            A.INDATE as indate,
            B.USER_NAME as writerNm,
            (SELECT COUNT(*) FROM TBL_REPLY X WHERE X.IDX = A.IDX) AS reply
        FROM TBL_BOARD A
        LEFT JOIN TBL_USER B ON A.WRITER = B.USER_ID
        WHERE 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (A.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                 OR A.CONTENTS LIKE CONCAT('%', #{searchKeyword}, '%'))
        </if>
        ORDER BY A.IDX DESC
        LIMIT #{firstIndex},#{recordCountPerPage}
    </select>

    <!-- 게시글 전체 개수 -->
    <select id="selectBoardListTotCnt" parameterType="BoardVO" resultType="int">
        SELECT COUNT(*) totcnt
        FROM TBL_BOARD A
        WHERE 1=1
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (A.TITLE LIKE CONCAT('%', #{searchKeyword}, '%')
                 OR A.CONTENTS LIKE CONCAT('%', #{searchKeyword}, '%'))
        </if>
    </select>
    
   <select id="selectLoginCheck" resultType="board.service.BoardVO">
	    SELECT 
	        USER_ID AS userId,
	        USER_NAME AS userName
	    FROM TBL_USER
	    WHERE USER_ID = #{userId} AND PASSWORD = #{password}
	</select>
	
   <insert id="insertReply" parameterType="BoardVO">
    INSERT INTO TBL_REPLY (
        IDX,
        SEQ,
        REPLY,
        WRITER,
        INDATE
    )
    VALUES (
        #{idx},
        (SELECT IFNULL(MAX(X.SEQ) + 1, 1) FROM TBL_REPLY X WHERE X.IDX = #{idx}),
        #{reply, jdbcType=VARCHAR},
        #{writer, jdbcType=VARCHAR},
        SYSDATE()
    )
	</insert>
	<select id="selectReplyList" resultType="board.service.BoardVO">
	    SELECT IDX as idx
	    , SEQ as seq
	    , WRITER as writer
	    , REPLY as reply
	    , INDATE as indate
	    FROM TBL_REPLY
	    WHERE IDX = #{idx}
	    ORDER BY SEQ ASC
	</select>
	
	<update id="updateBoardCount"> 
		UPDATE TBL_BOARD
		SET COUNT = IFNULL(COUNT,0)+1
		WHERE IDX = #{idx}
	</update>
</mapper>
